<li>
	{{roll_name}}

	<button class="devour-button" data-id="{{id}}" data-newEat="{{devour}}">
		{{#if devour}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-roll" data-id="{{this.id}}">DELETE!</button>
</li>